{{ include('includes/header.html.twig') }}
<title>{% block title %}Nos offres - Crown Creative{% endblock %}</title>
</head>

<body>

    {{ include('includes/nav.html.twig') }}

        
        <section class="container text-center mt-5">
            <h3>Offre Renaissance</h3>
            <div class="row d-flex justify-content-around mt-5">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pack renaissance</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">• 100 cartes de visite</li>
                            <li class="list-group-item">• Identité visuelle</li>
                            <li class="list-group-item">• Rédaction de la charte graphique</li>
                            <li class="list-group-item">• Formation sur le community management</li>
                            <li class="list-group-item">• 1 module sur les outils numériques de gestion d'entreprise</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-primary">284 000 FCFA</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pack renaissance +</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">• 100 cartes de visite</li>
                            <li class="list-group-item">• Identité visuelle</li>
                            <li class="list-group-item">• Rédaction de la charte graphique</li>
                            <li class="list-group-item">• Formation sur le community management</li>
                            <li class="list-group-item">• 2 modules sur les outils numériques de gestion d'entreprise</li>
                            <li class="list-group-item">• Gadgets publicitaire</li>
                            <li class="list-group-item">• Développement d'un site web vitrine</li>
                            <li class="list-group-item">• 1 an d'hébergement</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-primary">699 000 FCFA</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pack renaissance premium</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">• 100 cartes de visite</li>
                            <li class="list-group-item">• Identité visuelle</li>
                            <li class="list-group-item">• Rédaction de la charte graphique</li>
                            <li class="list-group-item">• 6 mois de community management</li>
                            <li class="list-group-item">• 3 modules sur les outils numériques de gestion d'entreprise</li>
                            <li class="list-group-item">• Gadgets publicitaire (au choix)</li>
                            <li class="list-group-item">• Développement d'un site web</li>
                            <li class="list-group-item">• 1 an d'hébergement</li>
                            <li class="list-group-item">• Branding et définition d'une stratégie de com</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-primary">1 869 000 FCFA</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="container text-center mt-5">
            <h3>Offre Digital Impact</h3>
            <div class="row d-flex justify-content-around mt-5">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pack Sawki</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Prototypage adapté à votre charte graphique</li>
                            <li class="list-group-item">Nom de domaine</li>
                            <li class="list-group-item">Responsive design</li>
                            <li class="list-group-item">Mise à jour à la demande (2x par mois pendant 2 mois)</li>
                            <li class="list-group-item">Référencement naturel (SEO)</li>
                            <li class="list-group-item">Hébergement (1an)</li>
                            <li class="list-group-item">Accès illimité au service client</li>
                            <li class="list-group-item">Adresses mails personnalisées</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-primary">310 000 FCFA</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pack Digital +</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Prototypage adapté à votre charte graphique</li>
                            <li class="list-group-item">Nom de domaine</li>
                            <li class="list-group-item">Responsive design</li>
                            <li class="list-group-item">Mise à jour à la demande (2x par mois pendant 3 mois)</li>
                            <li class="list-group-item">Référencement naturel (SEO)</li>
                            <li class="list-group-item">Hébergement (1an)</li>
                            <li class="list-group-item">Accès illimité au service client</li>
                            <li class="list-group-item">Adresses mails personnalisées</li>
                            <li class="list-group-item">Gestion de la Newsletter (3 mois)</li>
                            <li class="list-group-item">Fonction de partage sur les réseaux sociaux</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-primary">584 000 FCFA</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pack Digital Gold</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Prototypage adapté à votre charte graphique</li>
                            <li class="list-group-item">Nom de domaine</li>
                            <li class="list-group-item">Responsive design</li>
                            <li class="list-group-item">Mise à jour à la demande (2x par mois pendant 6 mois)</li>
                            <li class="list-group-item">Référencement naturel (SEO)</li>
                            <li class="list-group-item">Hébergement (2 ans)</li>
                            <li class="list-group-item">Accès illimité au service client</li>
                            <li class="list-group-item">Adresses mails personnalisées</li>
                            <li class="list-group-item">Gestion de la Newsletter (6 mois)</li>
                            <li class="list-group-item">Fonction de partage sur les réseaux sociaux</li>
                            <li class="list-group-item">BackOffice (interface d'administration du site web)</li>
                            <li class="list-group-item">Forum</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-primary">1 059 000 FCFA</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        
        {{ include('includes/footer.html.twig') }}
</body>