<div class="topheader">

                    <div class="logodiv"> 
                        <img src="{{ asset('assets/img/logocc.jpg') }}" alt="logo">
                    </div>

                    <div class="navbar" id="myTopnav">

                        <a href="{{ path('home') }}">Accueil</a>
                        <a href="#services">Nos Services</a>
                        <a href="{{ path('offer') }}">Les Offres</a>
                        <!-- <a href="#Blog">Blog</a> -->
                        <a id="contactus" href="{{ path('contact') }}">Nous Contacter</a>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>

                    </div>

        </div>