{{ include('includes/header.html.twig') }}
<title>{% block title %}Créer utilisateur - Crown Creative{% endblock %}</title>
</head>

<body>
    {{ include('includes/nav.html.twig') }}
    <div class="container mt-5">
        <h2>Créer utilisateur</h2>
        {{ form(form) }}
    </div>
</body>